/*
!/.gitignore
!/LICENSE
!/README.md
!/pyproject.toml
!/bin/
!/doc/
!/env/
!/out/
!/src/

/*/**/*
!/*/**/*/

!/env/pack.py
!/env/rdzy.txt
!/env/ubuntu.sh
!/env/macos.sh
!/env/v312.sh
!/env/v312.txt
!/doc/*.md
!/src/rdzy/**/*.py
!/out/**/*.dat
!/out/**/*.asr
!/out/**/*.ini

flycheck*
