/*
!/.gitignore
!/LICENSE
!/README.md
!/pyproject.toml
!/env/
!/doc/
!/src/

/*/**/*
!/doc/**/*/
!/src/lang/
!/src/lang/**/*/

!/env/pack.py
!/env/lang.txt
!/env/pipu.sh
!/doc/**/*.md
!/src/lang/**/*.py